<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>My HTML/CSS homework</title>
</head>
<body>
    <a class="menu" href="#">Главная</a><!--5. , 16.-->
    <a class="menu" href="./catalog/catalog.html">Каталог</a>
    <a class="menu" href="">Контакты</a><!--5.-->
    <h1 class="h1_style">Главная страница</h1><!--6.-->
    <p class="p_style">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Asperiores commodi corporis consequuntur mollitia quia repellendus quasi
        repudiandae omnis doloremque accusantium sapiente ipsa alias velit totam aut rem, tempora ut fugit!<!--7.-->
    </p>
    <h2 class="h2_style">Добро пожаловать на сайт</h2><!--8.-->
        <p class="p_style">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore suscipit sit nam! Quasi, laborum voluptates culpa placeat vel, repellat tempora nisi molestiae recusandae accusamus atque delectus quo non quidem corporis.
        </p>
        <p class="p_style">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quis sint nam corporis vero hic, ullam aut! Laboriosam alias saepe temporibus aut nisi maxime recusandae, modi reiciendis aperiam id? Repellat!
        </p>
        <p class="p_style">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis eum quod iure quaerat ducimus laudantium optio obcaecati perspiciatis, expedita distinctio molestiae corrupti dicta voluptatem quas iusto culpa autem cumque repellat.
        </p><!--8.-->
</body>
</html>